body {  
  background-color: rgb(235, 227, 191);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 16px;
}

td,
th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgb(212, 212, 212);
}

tr {
  background-color: whitesmoke;
  height: 28px;
}

#container{
    display: flex;
    justify-content: center;
}
#newBook {
  margin: 32px;
  width: 120px;
  height: 45px;
  border-radius: 6px;
  font-size: 1.4rem;  
}

.button{
    border: 2px solid gray;
}
.button:hover{
    background-color: rgb(250, 192, 121);
}

#form{
    display: none;
    justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 400px;
  background-color: rgb(236, 244, 248);
  padding: 8px;
  padding-bottom: 18px;
}

fieldset p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  margin-bottom: 8px;  
  margin-top: 2px;
}

input[type="text"],
input[type="number"] {
  height: 1.7rem;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 1rem;
  border: 1px solid gray;
}

label {
  font-size: 1.1rem;
  color: rgb(70, 70, 70);
  padding-bottom: 4px;
}

#last {
  display: flex;
  width: 350px;
  justify-content: space-between;
  flex: auto;
}

#pagesQuantity,
#readChoice {
  display: flex;
  width: 150px;
}

#readChoice {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input::placeholder{
    color: rgb(206, 206, 206);
    font-size: 1rem;
}

#buttons{
    padding: 8px;
    display: flex;
    justify-content: space-around;
    width: 350px;
}

#buttons button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    justify-content: space-around;
    font-size: 1.2rem;    
}

#cancel{
    background-color: rgb(255, 157, 140);
}